@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#menu-toggle:hover {
    cursor: pointer;
}

input.bg-autofill-light:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input.bg-autofill-light:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #e0e0e0 inset !important;
  -webkit-text-fill-color: #111 !important;
}

input.bg-autofill-dark:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(31 41 55) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input.bg-autofill-dark:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #e0e0e0 inset !important;
  -webkit-text-fill-color: #111 !important;
}

/* div {
    border: 1px solid #f00;
} */
